@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
body{
height: 100vh;
background-image: url(../images/bg-mobile.svg);
background-color: hsl(257, 40%, 49%);
background-repeat: no-repeat;
background-size: contain;
color: white;
}
.logo{

background-image: url(../images/logo.svg);
background-size: contain;
background-repeat: no-repeat;
height: 30px;
margin-top: 30px;
margin-left: 20px;

}
.page{
margin-top: 80px;
height: 250px;
background-image: url(../images/illustration-mockups.svg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
h2{
margin-top: 60px;
font-family: 'Poppins', sans-serif;
margin-left: auto;
margin-right: auto;
padding: 0%;
text-align: center;
width: 300px;

}
p{
margin: 0%;
padding: 0%;
font-family: 'Open Sans', sans-serif;
width: 300px;
margin-right: auto;
margin-left: auto;
text-align: center;
line-height: 22px;
}
input{
margin-top: 25px; 
padding-left: 60px;
padding-right: 60px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 20px;
display: block;
margin-left: auto;
margin-right: auto;
width: 200px;
color: hsl(257, 40%, 49%);
}
.social{
height: 20px;
background-image: url(../images/logo.svg);

}
.fa-instagram{

color: white;
font-size: 10px;
border: 1px solid white;
padding: 5px;
border-radius: 50%;
}
.fa-facebook-f{
    margin-right: 6px;
border-radius: 50%;  
padding-left: 6px;  
padding-right: 6px;
padding-top: 5px;
padding-bottom: 5px;
border: 1px solid white;
color: white;
font-size: 10px;

}
.fa-twitter{
margin-right: 6px;
color: white;
font-size: 10px;
border: 1px solid white;
border-radius: 50%;
padding: 5px;
}
footer{
margin-top: 100px;
text-align: center;

}
@media screen and (min-width: 700px){
*{

margin: 0%;
padding: 0%;

}
html{

height: 100vh;

}
body{

background-color: hsl(257, 40%, 49%);
background-image: none;
height: 100vh;
margin: 0%;
padding: 0%;
}

main{

height: 100%;
width: 100%;
background-image: url(../images/bg-desktop.svg);
background-size: contain;
background-repeat: no-repeat;
}
.logo{

position: absolute;
top: 20px;
height: 200px;
width: 200px;
left: 80px;


}
.page{
 
position: absolute;
top: 50%;
left: 80px;
transform: translateY(-50%);
height: 750px;
width: 900px;
background-image: url(../images/illustration-mockups.svg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
h2{
font-size: 40px;    
margin-top: 60%;
font-family: 'Poppins', sans-serif;
margin-left: auto;
margin-right: auto;
padding: 0%;
text-align: left;
width: 500px;

}
.text{

float: right;
margin-right: 300px;
}
p{
margin-top: 35px;

padding: 0%;
font-family: 'Open Sans', sans-serif;
width: 480px;
margin-right: auto;
margin-left: auto;
text-align: left;
line-height: 22px;
}
footer{
position: absolute;
top: 85%;
left: 93%;
}
input{
margin-top: 25px; 
padding-left: 0px;
padding-right: 0px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
font-size: 1rem;
display: block;
margin-left: 0;
margin-right: auto;
width: 200px;
color: hsl(257, 40%, 49%);
}
.fa-instagram{

color: white;
font-size: 20px;
border: 1px solid white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 6px;
padding-right: 6px;
border-radius: 50%;
}
.fa-facebook-f{
    margin-right: 6px;
border-radius: 50%;  
padding-left: 10px;  
padding-right: 10px;
padding-top: 8px;
padding-bottom: 8px;
border: 1px solid white;
color: white;
font-size: 15px;

}
.fa-twitter{
margin-right: 6px;
color: white;
font-size: 14px;
border: 1px solid white;
border-radius: 50%;
padding: 8px;
}
}